Specifies the query ID of a statement to use as the reference point for Time Travel. 
This parameter supports any statement of one of the following types:
*DML (e.g. INSERT, UPDATE, DELETE)
*TCL (BEGIN, COMMIT transaction)
*SELECT

The query ID must reference a query that has been executed within the last 14 days. 
If the query ID references a query over 14 days old, the following error is returned:

Error: statement <query_id> not found
To work around this limitation, use the timestamp for the referenced query.
--------------------------------------------

select current_timestamp: --2023-09-28 22:48:40.209 -0700

select * from store before(TIMESTAMP => 2023-09-28 22:48:40.209 -0700 :: TIMESTAMP_LTZ):

select * from store aT (TIMESTAMP => 2023-09-28 22:48:40.209 -0700'::TIMESTAMP_LTZ):

select from store before (STATEMENT => 01af4e82-3200-e2b8-0000-00065bdef091'
select * from store BEFORE (OFFSET => -600):
